Repository urykhy/stuff: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy, spectral, yamllint, black, isort, mypy

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i
  require_serial: true

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - -p
  - .
  - --warnings-as-errors
  - '*'
  require_serial: true

spectral:
  name: spectral
  entry: spectral
  language: system
  args:
  - lint
  require_serial: true

yamllint:
  name: yamllint
  entry: yamllint
  language: system
  args:
  - -s
  require_serial: true

black:
  name: black
  entry: black
  language: python
  args:
  - --line-length=120
  require_serial: true

isort:
  name: isort
  entry: isort
  language: python
  args:
  - --profile
  - black
  - --filter-files
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: python
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

show-benchmark
  scripts/profile
Due: none

scripts: allure-benchmark
  scripts/profile
Due: none

protobuf: account threads count for SetItemsProcessed
  protobuf/benchmark2.cpp
Due: clang-format, clang-tidy

allure: play syrupy
  Taskfile.yaml
  allure/__snapshots__/sample.ambr
  allure/sample.py
  scripts/profile
  testing/boost-test-xml-2-allure.py
  testing/boost-test.j2
Due: yamllint, black, isort, mypy

pytest: play bdd
  Taskfile.yaml
  allure/bdd.feature
  allure/bdd.py
Due: yamllint, black, isort, mypy

kafka: cleanup factory.json
  kafka/Factory.hpp
  kafka/Factory.json
Due: clang-format, clang-tidy

scripts: show my_browser memory cg
  scripts/profile
Due: none

threads: play with make_parallel_group
  threads/test.cpp
Due: clang-format, clang-tidy

scripts: fix luks warning
  scripts/luks.py
Due: black, isort, mypy

scripts: show gpu mem usage
  scripts/profile
Due: none

scripts: drop watchtower
  scripts/profile
Due: none

docker-dns: fix error if not supported request
  docker-dns/main.go
Due: none

scripts: tls info
  scripts/profile
Due: none

script: ocr
  scripts/profile
Due: none

mypy: use sqlalchemy plugin
  .pre-commit-config.yaml
  flibusta/app.py
  flibusta/common.py
  flibusta/indexer.py
  mypy.ini
Due: yamllint, black, isort, mypy

logger: fix
  logger/lib_logger.cpp
Due: clang-format, clang-tidy

protobuf: add linter
  .pre-commit-config.yaml
  buf.yaml
  protobuf/ExprTK.cpp
  protobuf/benchmark.cpp
  protobuf/benchmark2.cpp
  protobuf/test.cpp
  protobuf/tutorial.proto
Due: clang-format, clang-tidy, yamllint

grpc: tradias with threads
  grpc/PlayGRPC.hpp
  grpc/benchmark.cpp
  grpc/test.cpp
Due: clang-format, clang-tidy

grpc: python bench
  .yamllint
  Taskfile.yaml
  grpc/bench.py
  grpc/meson.build
  grpc/test.cpp
Due: clang-format, clang-tidy, yamllint, black, isort, mypy

archive: cleanup
  archive/Util.hpp
  archive/test.cpp
Due: clang-format, clang-tidy

foundationdb: range ops
  foundationdb/Client.hpp
  foundationdb/test.cpp
Due: clang-format, clang-tidy

foundationdb: drop overlap
  cache/redis-bench.cpp
  foundationdb/Overlap.hpp
  foundationdb/benchmark.cpp
  foundationdb/test.cpp
  unsorted/Benchmark.hpp
Due: clang-format, clang-tidy

threads: coro cron
  threads/Coro.hpp
  threads/meson.build
  threads/test.cpp
  unsorted/logger.conf
Due: clang-format, clang-tidy

jaeger: extract logwork from span
  jaeger/Jaeger.hpp
  jaeger/test.cpp
Due: clang-format, clang-tidy

scripts: ffmpeg-to-audio
  scripts/profile
Due: none

python: try streaming from click to s3
  Taskfile.yaml
  s3/streaming.py
Due: yamllint, black, isort, mypy

postgresql: bench a bit
  foundationdb/meson.build
  postgresql/Client.hpp
  postgresql/benchmark.cpp
  postgresql/meson.build
  postgresql/migrations/002_KeyValue.down.sql
  postgresql/migrations/002_KeyValue.up.sql
Due: clang-format, clang-tidy

scripts/allure-benchmark: horizontal bars
  Taskfile.yaml
  scripts/profile
Due: yamllint

mysql: play a bit with x protocol
  cache/meson.build
  mysql/Package.yml
  mysql/meson.build
  mysql/test.cpp
  pkgconfig/mysql-connector.pc
Due: clang-format, clang-tidy, yamllint

benchmark: try bench key value
  asio_cpp_coro/benchmark.cpp
  benchmark/Benchmark.hpp
  benchmark/benchmark.cpp
  benchmark/meson.build
  cache/meson.build
  cache/redis-bench.cpp
  foundationdb/benchmark.cpp
  foundationdb/meson.build
  grpc/benchmark.cpp
  kafka/benchmark.cpp
  kv/benchmark.cpp
  postgresql/Client.hpp
  postgresql/benchmark.cpp
  postgresql/meson.build
Due: clang-format, clang-tidy

protobuf: fix build for fuzz
  Taskfile.yaml
  protobuf/fuzz.cpp
Due: clang-format, clang-tidy, yamllint

foundationdb: cancellation
  foundationdb/Client.hpp
  foundationdb/test.cpp
Due: clang-format, clang-tidy

foundationdb: bench with grv proxy too
  foundationdb/benchmark.cpp
Due: clang-format, clang-tidy

s3: play with python multipart upload
  s3/multipart.py
Due: black, isort, mypy

S3: better multipart upload
  s3/S3.hpp
  s3/test.cpp
Due: clang-format, clang-tidy

scripts: mass-to-audio
  scripts/profile
Due: none

lua: a with sol2
  .clang-tidy
  Taskfile.yaml
  lua/benchmark.cpp
  lua/meson.build
  lua/test.cpp
  pkgconfig/sol2.pc
Due: clang-format, clang-tidy, yamllint

lua: benchmark tcc
  Taskfile.yaml
  lua/ExprTK.cpp
  lua/ExprTK.hpp
  lua/benchmark.cpp
  lua/meson.build
  lua/test.cpp
  pkgconfig/tcc.pc
  unsorted/Tcc.hpp
Due: clang-format, clang-tidy, yamllint

lua: bench native
  lua/benchmark.cpp
Due: clang-format, clang-tidy

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  spectral: any of: ^swagger\/api\/.+\.v.*\.yaml$
  yamllint: any of: \.(yml|yaml)$
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
