Repository urykhy/stuff: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy, spectral, yamllint, black, isort, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: clang-format
      name: clang-format
      entry: clang-format
      language: system
      types_or: [c++, c]
      args: ["-i"]
      require_serial: true
    - id: clang-tidy
      name: clang-tidy
      entry: clang-tidy
      language: system
      types_or: [c++, c]
      args: ["-p", ".", "--warnings-as-errors", "*"]
      require_serial: true
    - id: spectral
      name: spectral
      entry: spectral
      language: system
      files: ^swagger\/api\/.+\.v.*\.yaml$
      args: ["lint"]
      require_serial: true
    - id: yamllint
      name: yamllint
      entry: yamllint
      language: system
      files: '\.(yml|yaml)$'
      args: ["-s"]
      require_serial: true
    - id: black
      name: black
      entry: black
      language: python
      types_or: [python]
      args: ["--line-length=120"]
      require_serial: true
    - id: isort
      name: isort
      entry: isort
      language: python
      types_or: [python]
      args: ["--profile", "black", "--filter-files"]
      require_serial: true
    - id: mypy
      name: mypy
      entry: mypy
      language: python
      types_or: [python]
      args: ["--ignore-missing-imports", "--scripts-are-modules"]
      require_serial: true
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

cache: expiration adapter
  cache/Expiration.hpp
  cache/LFU.hpp
  cache/LRU.hpp
  cache/S_LRU.hpp
  cache/test.cpp
  mysql/Updateable.hpp
  threads/Coro.hpp
Due: clang-format, clang-tidy

foundationdb: bit of
  .clang-tidy
  foundationdb/Client.hpp
  foundationdb/meson.build
  foundationdb/test.cpp
  threads/Coro.hpp
  valgrind.supp
Due: clang-format, clang-tidy

asio_pq: bit of async postgres
  .envrc
  asio_pq/Client.hpp
  asio_pq/meson.build
  asio_pq/test.cpp
  threads/meson.build
  unsorted/logger.conf
Due: clang-format, clang-tidy

threads/coro: MapReduce
  threads/Coro.hpp
  threads/test.cpp
Due: clang-format, clang-tidy

kafka: with coro
  kafka/Consumer.hpp
  kafka/Coro.hpp
  kafka/Kafka.hpp
  kafka/Producer.hpp
  kafka/Transform.hpp
  kafka/meson.build
  kafka/test.cpp
  threads/Coro.hpp
  threads/test.cpp
  unsorted/logger.conf
Due: clang-format, clang-tidy

threads/coro: cancel by timer
  threads/test.cpp
Due: clang-format, clang-tidy

threads/coro: single threaded cache update
  threads/Coro.hpp
Due: clang-format, clang-tidy

cbor: clang update
  cbor/cbor-stl.hpp
  cbor/fuzz-cover.sh
Due: clang-format, clang-tidy

scripts: use zram1 as cache
  scripts/zram
Due: none

add profile functions
  scripts/profile
Due: none

mysql: async connection
  mysql/Client.hpp
  mysql/Coro.hpp
  mysql/meson.build
  mysql/test.cpp
Due: clang-format, clang-tidy

threads: play with atomic shared_ptr
  threads/Spinlock.hpp
  threads/benchmark.cpp
  threads/meson.build
  threads/test.cpp
Due: clang-format, clang-tidy

scripts: netspace
  scripts/netspace-down
  scripts/netspace-enter
  scripts/netspace-up
  scripts/profile
Due: none

scripts: meson-gprof
  scripts/profile
Due: none

sqlite: improve logging
  sqlite/Lite.hpp
Due: clang-format, clang-tidy

jaeger: bit of fixes
  jaeger/Client.hpp
  jaeger/Helper.hpp
  jaeger/Jaeger.hpp
  jaeger/test.cpp
  sentry/Backtrace.hpp
  sentry/Client.hpp
  sentry/Cxa.cpp
  sentry/Message.hpp
  sentry/test.cpp
  swagger/j2/_client.j2
  swagger/j2/_params.j2
  swagger/j2/_server.j2
  swagger/test.cpp
  unsorted/logger.conf
Due: clang-format, clang-tidy

random fixes
  .vscode/tasks.json
  asio_mysqld/meson.build
  jaeger/Jaeger.hpp
  threads/Coro.hpp
Due: clang-format, clang-tidy

postgresql: rename
  postgresql/Client.hpp
  postgresql/meson.build
  postgresql/test.cpp
Due: clang-format, clang-tidy

kafka: coro producer benchmark
  .envrc
  kafka/Coro.hpp
  kafka/Taskfile.yml
  kafka/benchmark.cpp
  kafka/meson.build
Due: clang-format, clang-tidy, yamllint

flame-grafana
  scripts/profile
Due: none

tasks: configure all projects
  .vscode/tasks.json
Due: none

s3: logger
  curl/Curl.hpp
  s3/S3.hpp
  s3/meson.build
  s3/test.cpp
  unsorted/logger.conf
Due: clang-format, clang-tidy

threads: throw_if_cancelled
  threads/test.cpp
Due: clang-format, clang-tidy

scripts: profile update
  scripts/profile
Due: none

foundationdb: benchmark
  foundationdb/benchmark.cpp
  foundationdb/meson.build
  kafka/benchmark.cpp
  unsorted/Benchmark.hpp
Due: clang-format, clang-tidy

improve docker-mem
  scripts/profile
Due: none

parser: try other json libraries
  parser/benchmark.cpp
  parser/meson.build
  pkgconfig/glaze.pc
Due: clang-format, clang-tidy

parser: try glaze beve
  parser/benchmark.cpp
Due: clang-format, clang-tidy

kv: play with batching
  asio_cpp_coro/lib/API.hpp
  asio_cpp_coro/lib/Asio.hpp
  asio_cpp_coro/lib/Client.cpp
  asio_cpp_coro/lib/Server.cpp
  asio_cpp_coro/lib/meson.build
  asio_cpp_coro/meson.build
  asio_cpp_coro/test.cpp
  foundationdb/Client.hpp
  kafka/Coro.hpp
  kv/API.hpp
  kv/Client.hpp
  kv/Server.hpp
  kv/asio_http
  kv/benchmark.cpp
  kv/meson.build
  kv/test.cpp
  scripts/profile
  threads/Coro.hpp
Due: clang-format, clang-tidy

move samlib2fb2 to scripts
  scripts/samlib2fb2.py
Due: black, isort, mypy

foundationdb: set benchmark
  foundationdb/benchmark.cpp
  kafka/benchmark.cpp
  kv/benchmark.cpp
  threads/Coro.hpp
  unsorted/Benchmark.hpp
Due: clang-format, clang-tidy

scripts: show-rtprio
  scripts/profile
Due: none

asio_cpp_coro: play with hedging
  asio_cpp_coro/lib/Hedging.hpp
  asio_cpp_coro/test.cpp
Due: clang-format, clang-tidy

build fixes
  asio_http/test.cpp
  asio_http/v2/Client.hpp
  asio_mysqld/test.cpp
  avx/benchmark.cpp
  cbor/fuzz.cpp
  container/test.cpp
  curl/Util.hpp
  drawio/test.cpp
  ecs/System.hpp
  file/test.cpp
  mock/fakeit.hpp
  mysql/Coro.hpp
  mysql/Format.hpp
  mysql/Mock.hpp
  opencl/test.cpp
  profile/test.cpp
  s3/S3.hpp
  sentry/Cxa.cpp
  sqlite/Lite.hpp
  swagger/test.cpp
  uring/test.cpp
Due: clang-format, clang-tidy

asio_cpp_coro: benchmark
  asio_cpp_coro/benchmark.cpp
  asio_cpp_coro/lib/API.hpp
  asio_cpp_coro/lib/Client.cpp
  asio_cpp_coro/lib/Server.cpp
  asio_cpp_coro/meson.build
Due: clang-format, clang-tidy

sentry: fix build
  sentry/Cxa.cpp
Due: clang-format, clang-tidy

scripts: show-cgroup-version
  scripts/profile
Due: none

scripts: fix docker-mem to cgroup v2
  scripts/profile
Due: none

MySQL/TaskQueue: massive test
  mysql/test.cpp
Due: clang-format, clang-tidy

editor config
  .editorconfig
Due: none
