Repository urykhy/stuff: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy, spectral, yamllint, black, isort, mypy

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i
  require_serial: true

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - -p
  - .
  - --warnings-as-errors
  - '*'
  require_serial: true

spectral:
  name: spectral
  entry: spectral
  language: system
  args:
  - lint
  require_serial: true

yamllint:
  name: yamllint
  entry: yamllint
  language: system
  args:
  - -s
  require_serial: true

black:
  name: black
  entry: black
  language: python
  args:
  - --line-length=120
  require_serial: true

isort:
  name: isort
  entry: isort
  language: python
  args:
  - --profile
  - black
  - --filter-files
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: python
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

asio_cpp_coro: fix keep alive server
  asio_cpp_coro/lib/Server.cpp
Due: clang-format, clang-tidy

foundationdb: multi key tx bench
  foundationdb/Client.hpp
  foundationdb/benchmark.cpp
Due: clang-format, clang-tidy

parser: bit of glaze
  parser/benchmark.cpp
Due: clang-format, clang-tidy

foundationdb: more benchmarks, long ro transactions
  foundationdb/Client.hpp
  foundationdb/Overlap.hpp
  foundationdb/benchmark.cpp
  foundationdb/test.cpp
  unsorted/Benchmark.hpp
Due: clang-format, clang-tidy

scripts/profile: mass download
  scripts/profile
Due: none

kafka: factory
  kafka/Coro.hpp
  kafka/Factory.hpp
  kafka/Factory.yaml
  kafka/meson.build
  kafka/test.cpp
Due: clang-format, clang-tidy, yamllint

scripts: improve docker-volumes
  scripts/profile
Due: none

foundationdb: improve getset benchmark
  foundationdb/Client.hpp
  foundationdb/Overlap.hpp
  foundationdb/benchmark.cpp
  foundationdb/meson.build
  foundationdb/test.cpp
Due: clang-format, clang-tidy

scripts: benchmark-disk with fsync
  scripts/profile
Due: none

sqlite: benchmarks
  foundationdb/benchmark.cpp
  foundationdb/meson.build
  sqlite/Lite.hpp
  sqlite/benchmark.cpp
  sqlite/meson.build
Due: clang-format, clang-tidy

kafka: play with schema registry
  .envrc
  kafka/Registry.hpp
  kafka/Taskfile.yml
  kafka/meson.build
  kafka/test.cpp
  pkgconfig/avro-cpp.pc
  pkgconfig/serdes.pc
Due: clang-format, clang-tidy, yamllint

cache: redis coro + benchmark
  cache/Redis.hpp
  cache/meson.build
  cache/redis-bench.cpp
  cache/test.cpp
  foundationdb/benchmark.cpp
  foundationdb/meson.build
  kv/meson.build
  unsorted/Benchmark.hpp
Due: clang-format, clang-tidy

scripts/profile: fix once click uses .click directory
  scripts/profile
Due: none

grpc: play with
  grpc/Play.proto
  grpc/PlayGRPC.hpp
  grpc/meson.build
  grpc/test.cpp
  threads/Asio.hpp
Due: clang-format, clang-tidy

time: try 1900, 2200 years
  time/test.cpp
Due: clang-format, clang-tidy

clang-format fixes
  .clang-format
  grpc/PlayGRPC.hpp
  grpc/meson.build
Due: clang-format, clang-tidy

profile: show-deps
  scripts/profile
Due: none

kafka: serdes debs
  kafka/Serdes.yml
  kafka/meson.build
  pkgconfig/avro-cpp.pc
  pkgconfig/serdes.pc
Due: yamllint

grpc: add Tradias/asio-grpc
  grpc/PlayGRPC.hpp
  grpc/meson.build
  grpc/test.cpp
  pkgconfig/asio-grpc.pc
Due: clang-format, clang-tidy

grpc: package Tradias/asio-grpc
  grpc/Package.yml
  kafka/Package.yml
  kafka/Serdes.yml
  pkgconfig/asio-grpc.pc
Due: yamllint

protobuf: fixes
  protobuf/meson.build
  protobuf/test.cpp
Due: clang-format, clang-tidy

grpc: benchmark
  grpc/PlayGRPC.hpp
  grpc/benchmark.cpp
  grpc/meson.build
  grpc/test.cpp
Due: clang-format, clang-tidy

profile: show-dns-resolvers, sync firewall
  scripts/firewall
  scripts/ifb
  scripts/profile
Due: none

grpc: k6
  grpc/k6.js
  grpc/test.cpp
Due: clang-format, clang-tidy

grpc: limit cpu usage for ghz/k6
  grpc/test.cpp
Due: clang-format, clang-tidy

mysql: play with workflow
  mysql/Workflow.hpp
  mysql/migrations/006_Workflow.down.sql
  mysql/migrations/006_Workflow.up.sql
  mysql/test.cpp
Due: clang-format, clang-tidy

kafka: create avro without json
  kafka/Registry.hpp
  kafka/test.cpp
Due: clang-format, clang-tidy

scripts: sync
  scripts/profile
Due: none

scripts: show-jails
  scripts/profile
Due: none

taskfile to install deps
  Taskfile.yaml
  python/meson.build
  test_meson.py
Due: yamllint, black, isort, mypy

scripts: tcmalloc flamegraphs
  scripts/profile
Due: none

kafka: decode avro without json
  kafka/Registry.hpp
  kafka/test.cpp
Due: clang-format, clang-tidy

show-fonts
  scripts/profile
Due: none

pytest-randomly
  Taskfile.yaml
Due: yamllint

parser: yyjson
  Taskfile.yaml
  parser/benchmark.cpp
  parser/meson.build
Due: clang-format, clang-tidy, yamllint

scripts: improve netspace
  scripts/netspace-up
Due: none

foundationdb: bench get 100 keys in 1 txn
  foundationdb/benchmark.cpp
Due: clang-format, clang-tidy

kafka: factory with serdes
  kafka/Factory.hpp
  kafka/Factory.yaml
  kafka/test.cpp
Due: clang-format, clang-tidy, yamllint

kafka: fix Factory config extension
  kafka/Factory.hpp
  kafka/Factory.json
Due: clang-format, clang-tidy

postgresql: use test db instance, migrator
  .envrc
  mysql/meson.build
  postgresql/meson.build
  postgresql/migrations/001_Card.down.sql
  postgresql/migrations/001_Card.up.sql
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  spectral: any of: ^swagger\/api\/.+\.v.*\.yaml$
  yamllint: any of: \.(yml|yaml)$
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
