Repository urykhy/stuff: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy, spectral, yamllint, black, isort, mypy

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i
  require_serial: true

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - -p
  - .
  - --warnings-as-errors
  - '*'
  require_serial: true

spectral:
  name: spectral
  entry: spectral
  language: system
  args:
  - lint
  require_serial: true

yamllint:
  name: yamllint
  entry: yamllint
  language: system
  args:
  - -s
  require_serial: true

black:
  name: black
  entry: black
  language: python
  args:
  - --line-length=120
  require_serial: true

isort:
  name: isort
  entry: isort
  language: python
  args:
  - --profile
  - black
  - --filter-files
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: python
  args:
  - --ignore-missing-imports
  - --scripts-are-modules
  require_serial: true

scripts: geo ip
  scripts/profile
Due: none

foundation: restore cached version bench
  foundationdb/benchmark.cpp
  foundationdb/meson.build
Due: clang-format, clang-tidy

test: xdist
  Taskfile.yaml
  pytest.ini
  swagger/j2/__init__.py
  test_meson.py
Due: yamllint, black, isort, mypy

oidc: bit of python
  oidc/oidc.py
Due: black, isort, mypy

scripts: some fixes to meson scripts
  Taskfile.yaml
  scripts/profile
Due: yamllint

pre-commit: add oasdiff linter
  .pre-commit-config.yaml
Due: yamllint

grpc: generate server and client
  grpc/generator.py
  grpc/grpc.j2
  grpc/meson.build
  grpc/test.cpp
Due: clang-format, clang-tidy, black, isort, mypy

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  spectral: any of: ^swagger\/api\/.+\.v.*\.yaml$
  yamllint: any of: \.(yml|yaml)$
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
